twisted==9.0.0
Jinja2==2.1
# sqlalchemy-0.8 betas show issues with sqlalchemy-0.7.2, so
# stick to 0.7.9
sqlalchemy==0.7.9
# buildbot depends on sqlalchemy internals, and these are the tested
# versions.
sqlalchemy-migrate==0.7.2
python-dateutil==1.5
